{% extends '::base.html.twig' %}
{% trans_default_domain 'PsFrontBundle' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/psfront/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/psfront/jquery-ui/jquery-ui-1.10.3.custom.min.css') }}">
{% endblock %}

{% block body %}
{{ include('::google_analytics.html.twig') }}
<div id="wrapper">
    <div id="top">
        <div class="container">
            <div class="title">{{ 'main.do_sport'|trans }}</div>
        </div>
    </div>
    {% block menu %}
    <div id="menu">
        <div class="container">
            <ul id="menu-box">
                {% set route = app.request.attributes.get('_route') %}
                <li {% if route == 'front_index' %}class="active"{% endif %}><a href="{{ url('front_index') }}" class="item"><span>{{ 'main.main'|trans }}</span></a></li>
                <li {% if route == 'football_index' %}class="active"{% endif %}><a href="{{ url('football_index') }}" class="item"><span>{{ 'main.football'|trans }}</span></a></li>
                {#<li><a href="" class="item"><span>о нас</span></a></li>#}
            </ul>

            <div id="user-info-box">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user|getUserName}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                    <a href="{{ url('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
    <div id="menu-bottom"></div>
    <div id="main">
        <div class="container">
            {% block content %}
                <h2 class="title">{{ 'events.closest_event'|trans }}</h2>
            {% endblock %}
        </div>
    </div>
</div>

{% block footer %}
<div id="bottom">
</div>

<div id="footer">
    <div>Do Sport {{ "now"|date("Y") }}</div>
</div>
{% endblock %}

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/psfront/js/jquery-1.10.1.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/psfront/jquery-ui/jquery-ui-1.10.3.custom.min.js') }}"></script>
{% endblock %}