{% extends 'PsFrontBundle::base.html.twig' %}
{% trans_default_domain 'PsFrontBundle' %}

{% block content %}
    <span id="participate-block">
        {{ include('PsFrontBundle:AbstractEvent:participate.html.twig') }}
    </span>

    <span id="members-block">
        {{ include('PsFrontBundle:AbstractEvent:members.html.twig') }}
    </span>

{% endblock%}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            {% if is_granted('ROLE_USER') %}
            $('#participate-user').button({% if participate == 'yes' or participate == 'wish' %}{ disabled: true }{% endif %});
            $('#unparticipate-user').button({% if participate == 'no' %}{ disabled: true }{% endif %});
            $('#participate-friend').button();
            $('#unparticipate-friend').button();

            var friends = [{{ friends|raw }}];
            $('#participate').autocomplete({source: friends});
            {% else %}
            $('#participate-anonymous').button();
            $('#unparticipate-anonymous').button();
            {% endif %}

            refreshMembers();

        });

        function refreshMembers() {
            setTimeout(function(){
                $('#members-block').load('{{ url('event_load_members', {'id': id}) }}', [], function(){
                    refreshMembers();
                });
            }, 60000);
        }
    </script>
{% endblock %}